<div class="width-100 tittle-modal flex">
  <span class="fg-1 as-c ">Update Consultant : {{ data.consultant.firstname }} {{ data.consultant.lastname }}</span>
  <button mat-button  class="cross-modal" matDialogClose><mat-icon>close</mat-icon></button>
</div>
<div class="contain-modal">
  <app-form-consultant [fGroup]="fGroup"></app-form-consultant>
  <div class="width-100 btn-modal">
    <button mat-raised-button color="primary" [disabled]="fGroup.invalid" (click)="handleClickUpdateConsultant(fGroup)" >Update Consultant</button>
    <button mat-button matDialogClose>Cancel</button>
  </div>
</div>
