<mat-toolbar class="toolbar">
  <span class="action" routerLink="/">In-cub</span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/startups">Startups</a>
  <a mat-button routerLink="/consultants">Consultants</a>
  <span class="example-spacer"></span>
  <a *ngIf="!userConnected" mat-button routerLink="/register">Register</a>
  <a *ngIf="!userConnected" mat-button routerLink="/login">Login</a>
  <mat-icon *ngIf="userConnected" class="example-icon action" (click)="logout()" matTooltip="Logout">exit_to_app</mat-icon>
</mat-toolbar>
