/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.action {
  cursor: pointer;
}

table.mat-table {
  width: 100% !important;
}

.flex {
  display: flex !important;
}

.fd-c {
  flex-direction: column !important;
}

span button.mat-raised-button {
  margin: 5px !important;
  width: 120px !important;
}
